{% extends 'base/base.html' %}
{% block content  %}
        <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead text-body-secondary">You Can Login With This Form</p>
        <p>
          <a href="{%  url 'home:home_page' %}" class="btn btn-primary my-2">Home</a>
          <a href="{% url 'accounts:user_register'  %}" class="btn btn-secondary my-2">Register</a>
        </p>
      </div>
    </div>

</div>
  </section>

    <form novalidate method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="{{ login_form.username.id_for_label }}">UserName</label>
      {{ login_form.username }}
      {% for error in login_form.username.errors %}
          <p class="text-danger">{{ error }}</p>
      {% endfor  %}
  </div>
  <div class="form-group">
    <label for="{{ login_form.password.id_for_label }}">Password</label>
    {{ login_form.password }}
       {% for error in login_form.password.errors %}
          <p class="text-danger">{{ error }}</p>
      {% endfor  %}
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{%  endblock  %}
{% block title  %}
    Login Page
{% endblock  %}