
{% extends 'base/base.html'  %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content  %} <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome</h1>
        <p class="lead text-body-secondary">You Can See our last  Articles</p>
          <a href="{% url 'blog:article_list'  %}" class="btn btn-primary my-2">Blog List</a>

      </div>
    </div>
  </section>{% endblock %}